<div data-ng-controller="shell as vm">
    <header class="clearfix">
        <div data-ng-include="'/app/layout/topnav.html'"></div>
    </header>
    <section id="content">
        <div data-ng-view class="shuffle-animation fixmarginfortabs" data-ng-show="true" id="tabcontainer"></div>
    </section>
</div>
