<div ng-cloak data-ng-controller="shell as vm" class="shell">
    <header class="clearfix">
        <a href="/"><i class="bulb-mybulb home-bulb cover-bulb"></i></a>
    </header>

    <div data-ng-include="'/app/layout/topnav.html'" ng-if="location.path() !== '/'" ng-cloak class="hidden-sm hidden-xs"></div>
    <div data-ng-include="'/app/layout/topnav.html'" ng-cloak class="hidden-md hidden-lg"></div>
    <section id="content">

        <div data-ng-view class="shuffle-animation" data-ng-show="true" id="tabcontainer" ng-cloak></div>
    </section>
    <div data-ng-include="'/app/layout/footer.html'" ng-cloak class="hidden"></div>
</div>