/*--------------------------------------------PRIMARY ELEMENTS-----------------------------------------------------*/
/*BODY*/
body {
 width:100%;
    height:100%;
    margin:0;
    font-weight: 400;
font-style: normal;
font-size: 1.5em;
font-family: "Courier New","Courier","monospace";
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    background-color: #ffffff;
}

/*HEADER*/
header  {
    margin: 0 auto;
    height: 56px;
}

/*FOOTER*/
footer {
    position: static;
    background: #333;
    color: #ffffff;
    width: 100%;
    height: 100px;
}

footer .quote {
    font-size: 0.9em ;
}

footer .quote p {
    margin-left: 50%;
}
/*--------------------------------------------COMMON ACROSS-------------------------------------------------------*/
.loading-icon {
    position: relative;
    top: 50%;
    left: 50%;
    color: #9acd32;
}

a:link {
    color: #5f9ea0;
    text-decoration: none;
}

a:visited {
    color: #dd4b39;
    text-decoration: none;
}


a:hover {
     color: #ffffff;
     background: #808080;
    text-decoration: none;
    transition: 0.5s all linear;
 } 

a:active {
     color: #ffffff;
     background: #ffd700;
 }

 p{
     font-size: 1.1em;
    line-height: 31px
}

.shell .line {
    border: 1px solid #9acd32;
    width: 80%;
}
.home-bulb {
background: none repeat scroll 0 0 #5f9ea0;
    border: 4px solid #808080;
    border-radius: 50%;
    color: #fff;
    font-size: 7em;
    left: 45%;
    position: absolute;
    top: 15px;
    z-index: 2
}

.site-bulb {
    color: #333;
}
.site-bulb:hover {
    color:#ffd700;
    cursor:auto;
    transition: 0.5s all linear;
}

.cover-bulb {
    color: #ffffff;

}
.cover-bulb:hover {
    color:#ffd700;
    cursor: pointer;
    transition: 1s all linear;
}
li{
    list-style-type:none;
    }

.section-title {
    margin: 75px 0 -16px 0;
    font-family: "Courier New","Courier","monospace";
    font-weight: bold;
    font-size: 2em;
    text-transform: uppercase;
}

/*SOCIAL*/
.social {
    margin-top: 40px;
    padding: 0;
      font-size: 2em;
}

.social li {
    display:inline;
    background: transparent;
    }
 
    .social li a {
        background: transparent;
    }
 a.ln:hover {
    color: #0977b5;
}
a.g:hover {
    color:#dd4b39;
}
a.fb:hover {
    color:#3b579d;
}
a.git:hover {
    color:#333333;
}
a.mail1:hover {
    color:#9acd32;
}
a.mail2:hover {
    color:#dd4b39;
}


/*MODAL*/
.ng-modal {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
height: 414px;
    left: -150%;
    position: absolute;
    top: -154px;
    width: 250%;
    -webkit-box-shadow: 0 1px 2px 0 #000000;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 1px 2px 0 #000000;
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.75);
    -ms-box-shadow: 0 1px 2px 0 #000000;
    -ms-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.75);
    box-shadow: 0 1px 2px 0 #000000;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.75);
}

.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  width: 100%;
    height: 100%;
  padding:0;
    margin:0;
  background-color:#ffffff;

}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
    background: none repeat scroll 0 0 #ffffff;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1em;
    padding: 11px 27px 11px 12px;
    position: absolute;
    right: -18px;
    top: -18px;
    border: 2px solid #333;
    color: #333;
       -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
      -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

    .ng-modal-close:hover {
     -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
    }

.circle-increase-effect {
	display: inline-block;
	cursor: pointer;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	text-align: center;
	position: relative;
    line-height: 120px;
	color: #333;
    	background: rgba(51,51,51,0.1);
	-webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
	-moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
	transition: transform ease-out 0.1s, background 0.2s;

}

 .circle-increase-effect:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
    background: red;
    top: 0;
	left: 0;
	padding: 0;
	z-index: -1;
	box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
	opacity: 0;
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
   
}

 .circle-increase-effect:hover {
	background: rgba(51,51,51,0.05);
	-webkit-transform: scale(0.93);
	-moz-transform: scale(0.93);
	-ms-transform: scale(0.93);
	transform: scale(0.93);
	color: #333;
    text-decoration: none;
}

 .circle-increase-effect:hover:after {
	-webkit-animation: sonarEffect 1.3s ease-out 75ms;
	-moz-animation: sonarEffect 1.3s ease-out 75ms;
	animation: sonarEffect 1.3s ease-out 75ms;
}




/*--------------------------------------------HEADER-------------------------------------------------------------*/
/*--------------------------------------------NAVIGATION--------------------------------------------------------*/
.navigation-custom-rules {
    margin-top: 60px;
}

.sidebar {
 background: #222;
  position: fixed;
  z-index: 4;
  height: 100%;
  width: 10%;
  left: 0;
  top: 0;
  margin-top: 0;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
      -webkit-box-shadow: 0 1px 2px 0 #000000;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 1px 2px 0 #000000;
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.75);
    -ms-box-shadow: 0 1px 2px 0 #000000;
    -ms-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.75);
    box-shadow: 0 1px 2px 0 #000000;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.75);
}

.manage-menu {
    left: 30px;
    position: fixed;
    top: 42px;
    cursor: pointer;

}

.manage-menu span {
    font-family: calibri;    
} 
.sidebar .menu-button {
    color: #fff;
    font-size: 12px;
    line-height: 10px;
    position: absolute;
    font-weight: normal;
    z-index: 5;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
            right: 20px;
        top: 20px;
}



.sidebar .menu-button:hover {
  -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sidebar ul li a.active , .sidebar ul li a:link , .sidebar ul li a:visited  {
    color: #dd4b39;
    background: transparent;
    font-size: 1.1em;
}

.sidebar ul li a:hover {
    color: #333333;
    background: #ffffff;
}

.sidebar ul li a.home i {
    color: #ffffff;
}

.sidebar ul li a.home i:hover {
    color: #ffd700;
}

.sidebar ul li a:hover.home {
    background: none;
}

.navHomePage {

    margin: -50px 0 0 0; 
}

.timeline-year-container , .front-navagation-container {
    display: inline-block;
}

   .nav-container-2 .front-navagation-container:nth-child(1) {
        padding-left: 22%;
        padding-right: 19%;
    }

   .nav-container-1 .front-navagation-container:nth-child(1) {
            padding-left: 22%;
            padding-right: 19%;
    }
.nav-container-2, .nav-container-1  {
    margin: 20px 0 0 0;
    padding: 0;
    
}

a.front-navagation , a:link.front-navagation , a:visited.front-navagation {
    color: #333;
}

/*--------------------------------------------SHELL------------------------------------------------------------*/
.shuffle-animation {
    height: 100%;
}

/*/*.shuffle-animation.ng-enter,
.shuffle-animation.ng-leave {
    position: relative;
}

.shuffle-animation.ng-enter {
    -moz-transition: ease-out all 0.3s 0.4s;
    -o-transition: ease-out all 0.3s 0.4s;
    -webkit-transition: ease-out all 0.3s 0.4s;
    -ms-transition: ease-out all 0.3s 0.4s;
    transition: ease-out all 0.3s 0.4s;
    left: 2em;
    -ms-opacity: 0;
    opacity: 0;
}

.shuffle-animation.ng-enter.ng-enter-active {
    left: 0;
    -ms-opacity: 1;
    opacity: 1;
}

.shuffle-animation.ng-leave {
    -moz-transition: 0.3s ease-out all;
    -o-transition: 0.3s ease-out all;
    -webkit-transition: 0.3s ease-out all;
    -ms-transition: 0.3s ease-out all;
    transition: 0.3s ease-out all;
    left: 0;
    -ms-opacity: 1;
    opacity: 1;
}

.shuffle-animation.ng-leave.ng-leave-active {
    -ms-opacity: 0;
    opacity: 0;
}*/

/*--------------------------------------------HOME------------------------------------------------------------*/
.home-name {
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 50px;
}

.home-panel .tagline {
    margin: 10px 0 0 37%;
}

    .home-panel .tagline p {
        margin-left: 5%;
 }

.home-panel .line {
    margin-top: 11px;
    border: 1px solid #9acd32;
    width: 80%;
}

.home-panel {
    font-size: 1.2em;
}

.home-tagline {
   background: none repeat scroll 0 0 #9acd33;
    color: #ffffff;
    font-size: 0.9em;
    margin-left: 11%;
    width: 79%;
}

/*--------------------------------------------THOUGHTS-------------------------------------------------------*/
.article-summary-panel .articlesummary {
    text-align: justify;
    background: transparent;
    float: none;
    border-bottom: 1px solid #9acd32;
    padding: 0 0 10px 3%;
}

.article-summary-panel .articlesummary:before{
background-color: #9acd32;
    bottom: -21px;
    content: " ";
    left: 3%;
    position: absolute;
    top: 0;
    width: 1px
}

.article-summary-panel .article-summary-header-panel h3 {
    font-size: 1.5em;
    margin-bottom: 0;
    font-family: "Courier New","Courier","monospace";
    font-weight: bold;
    text-transform: uppercase;
    padding: 1px;
}

.article-summary-panel .article-summary-header-panel a:link , 
.article-summary-panel .article-summary-header-panel a:visited ,
.article-summary-panel .article-summary-header-panel a:active {
    color: #333;
}

.article-summary-panel .article-summary-header-panel a:hover {
    color: #ffffff;
    background: #dd4b39;
    transition: 0.5s all linear;
}

.article-summary-panel .articlesummary hr{
    border:2px solid #9acd32;
    width: 10%; 
    margin-bottom: 0;
    margin-top: 2px;
}

.article-summary-panel .articlesummary .timestamp {
    font-size: .90em;
}

.article-summary-panel .articlesummary p{
    display: inline;
}

.article-summary-panel .articlesummary .article-summary-header-panel{
    margin-top:10px;
    background-color:#fff;
}

.article-summary-panel .article-summary-container {
    margin-top: 39px;
    margin-bottom: 50px;
}

.article-summary-panel .btn-morearticles{
    width:30%;
    margin-top:50px;
     margin-bottom:50px;
    font-family: "Finger Paint", georgia, serif;
    padding: 20px 0 20px 0;
    background: #5f9ea0;
    color: #ffffff;
    font-size: 1.2em;

}

.article-summary-panel .btn-morearticles:hover{
    background: #3b579d;
    transition: 0.25s all linear;

}
/*--------------------------------------------ARTICLE-------------------------------------------------------*/
.article-panel {
    background-color:transparent;
}

.article-panel .row {
    margin: 0;
}

.article-body-panel {
    text-align: justify;
    margin-left: 13%;
}

#backarrow, #forwardarrow {
    cursor: pointer;
    font-size: 1.3em;
}

.article-panel .article-body {
    margin-top: 3%;
}

.comment-box {
    text-align: center;
    margin: 0 auto;
    margin-left: 13%;
}

/*--------------------------------------------ABOUT--------------------------------------------------------*/
.about-panel .row {
    margin: 0;
}

.about-panel .about-random-line {
    font-size: 1.3em;
    line-height: 38px;
    text-align: justify;
}

map, div[map] {display:block; width: 100%; height: 280px}

.about-panel .about-photo img {
     border-radius: 50%;
    width: 67%; 
}

.about-panel .about-faq {

    width: 70%;
    margin: 20px auto;
}

/*FAQ*/

.faq-panel i{
    display: inline;
}
.faq-header{
    font-weight: bold;
color:#333;
display:block;
margin:20px 0 5px 0 ;
}

.faq-answer {
    text-align: justify;
}

/*--------------------------------------------TIMELINE----------------------------------------------------*/

.timeline-detail-container .timeline-detail .timeline-work ul  li {
    display: inline;
    cursor: pointer;
}


.timeline-detail-container .timeline-detail .timeline-work .image-thumbnail {
    width: 35%;
}


    .timeline-detail-container .timeline-detail .timeline-work .image-thumbnail:hover {
        -webkit-box-shadow: 0 2px 4px 0 #000000;
        -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.75);
        -moz-box-shadow: 0 2px 4px 0 #000000;
        -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.75);
        -ms-box-shadow: 0 2px 4px 0 #000000;
        -ms-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.75);
        box-shadow: 0 2px 4px 0 #000000;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.75);
    }

.timeline-panel .timeline-container {
    width: 80%;
    margin: 0 auto;
}

.timeline-panel .timeline-detail-container {
    padding-top: 12px;
}

.timeline-panel .timeline-year-container {
    margin-left: 30%;
}

.timeline-panel .timeline-year-container .timeline-year {
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 0.83em;
    font-weight: bold; 
    color: #ffffff;  
  }

.timeline-panel .timeline-year-container .timeline-year {
     background: #333;
 }

.timeline-panel .timeline-year-container .timeline-year.active {
     background: #9acd33;

 }

.timeline-panel .timeline-detail-container hr {
      border: 1px dotted #808080;
}

.timeline-panel .timeline-container span {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
}

.timeline-panel .timeline-container .timeline-updates {
     font-size: 1.1em;
    line-height: 31px;
    height: 250px;
    overflow-y:scroll;
}


.timeline-detail-container .timeline-detail .timeline-work .overlay-work-img {
    width: 30%;    
}

.sidebar.ng-hide-add  { 
    animation: 1s slideOut ease;
    -webkit-animation: 1s slideOut ease;
    -moz-animation: 1s slideOut ease;
    -ms-animation: 1s slideOut ease;
    -o-animation: 1s slideOut ease;

  
 }

 .sidebar.ng-hide-remove-active { 
    animation: 1s slidein ease;
     -webkit-animation: 1s slidein ease;
    -moz-animation: 1s slidein ease;
    -ms-animation: 1s slidein ease;
    -o-animation: 1s slidein ease;

 }

.timeline-detail.ng-hide-remove  { 
   animation : 0.5s slidein ease; 
   -webkit-animation: 0.5s slidein ease;
    -moz-animation: 0.5s slidein ease;
    -ms-animation: 0.5s slidein ease;
    -o-animation: 0.5s slidein ease;
}



/*--------------------------------------------CONTACT----------------------------------------------------*/
.contact-panel .contact-container {
    width: 78%;
    margin-top: 30px;
}

.contact-panel .contact-container .contact-message {
      text-align: justify;  
}
.contact-panel .contact-social .social  {
    margin: 20px auto ;
    padding: 0;
    font-size: 3em;
}

/*--------------------------------------------ANIMATION-------------------------------------------------*/
@keyframes slideOut {
    from {opacity: 1}
  to 		{ transform: translateX(-100%);
             opacity: 0;
  }
}

@-webkit-keyframes slideOut {
    from {opacity: 1}
  to 		{ transform: translateX(-100%);
             opacity: 0;
  }
}

@-moz-keyframes slideOut {
    from {opacity: 1}
  to 		{ transform: translateX(-100%);
             opacity: 0;
  }
}

@-ms-keyframes slideOut {
    from {opacity: 1}
  to 		{ transform: translateX(-100%);
             opacity: 0;
  }
}

@keyframes slidein {
	from { -webkit-transform: translateX(-100%); transform: translateX(-100%);
	    opacity: 0;
	}
    to {opacity: 1}
}

@-webkit-keyframes slidein {
	from { -webkit-transform: translateX(-100%); transform: translateX(-100%);
	    opacity: 0;
	}
    to {opacity: 1}
}

@-moz-keyframes slidein {
	from { -webkit-transform: translateX(-100%); transform: translateX(-100%);
	    opacity: 0;
	}
    to {opacity: 1}
}


@-ms-keyframes slidein {
	from { -webkit-transform: translateX(-100%); transform: translateX(-100%);
	    opacity: 0;
	}
    to {opacity: 1}
}


@-webkit-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #333, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #333, 0 0 0 10px rgba(255,255,255,0.5);
		-webkit-transform: scale(1.5);
		opacity: 0;
	}
}
@-moz-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #333, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #333, 0 0 0 10px rgba(255,255,255,0.5);
		-moz-transform: scale(1.5);
		opacity: 0;
	}
}
@keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #333, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #333, 0 0 0 10px rgba(255,255,255,0.5);
		transform: scale(1.5);
		opacity: 0;
	}
}
