body {
 width:100%;
    height:100%;
    margin:0;
    font-weight: 400;
font-style: normal;
font-size: 1.5em;
font-family: Kite One, georgia, serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    color: #696969;
}

.site-brand:hover a {
    color: #333;
}

.site-brand a {
    font-family: "Finger Paint", georgia, serif;
}

@media(min-width: 768px) {
   body {
       padding-top: 0;
   }
   .fixmarginfortabs {
      margin-top:80px;  
   }
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.element-center {
    text-align: center;
}
.site-bulb {
    color: #333;
}
.site-bulb:hover {
    color:#ffd700;
    cursor:auto;
}

.cover-bulb {
    color: #ffffff;

}
.cover-bulb:hover {
    color:#ffd700;
    cursor: auto;
}
li{
    list-style-type:none;
    }
/*===============================NAV for Tabs==================================================================*/
 .fixmarginfortabs{
    margin-top:80px;
}

 .mynavrules {
     background-color:rgba(255,255,255,0.90);
     padding:5px 2% 0 0;
     -webkit-box-shadow: 0 1px 2px 0 #000000;
     -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.75);
     -moz-box-shadow: 0 1px 2px 0 #000000;
     -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.75);
     -ms-box-shadow: 0 1px 2px 0 #000000;
     -ms-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.75);
     box-shadow: 0 1px 2px 0 #000000;
     box-shadow: 0 1px 2px 0 rgba(0,0,0,0.75);
 }

.navi {
    font-size: .9em;
    float:right ;
    font-family: "Finger Paint", georgia, serif;
}
@media(max-width:768px){

.navi{
    text-align:center !important;
     margin:0 auto !important;
     float:none;
}

.navi li{
   text-align:center !important;
   margin:0 auto;
   width:auto;
}
}

     .navi > li.open.nlightblue > a,
    .navi > li.current.nlightblue > a {
         border-bottom: 2px solid #9acd32 !important;
        -webkit-transition: background 0.5s ease;
        -moz-transition: background 0.5s ease;
        -o-transition: background 0.5s ease;
         -ms-transition: background 0.5s ease;
         transition: background 0.5s ease;
         color: #333 !important;
     }

.navi > li.nlightblue > a:hover {
    border-bottom: 2px solid #808080 !important;
        -webkit-transition: background 0.5s ease;
        -moz-transition: background 0.5s ease;
        -o-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    transition: background 0.5s ease;
        color: #333 !important;
}

/*DISPLAY WINDOW======================================================================*/
.page-splash {
    z-index: 99999 !important;
    pointer-events: auto;
     -webkit-transition:all linear 0.3s;
  -moz-transition:all linear 1.0s;
  -ms-transition:all linear 1.0s;
  -o-transition:all linear 1.0s;
  transition:all linear 1.0s;
}

.nav-cover li {
    display: inline;
}

.nav-cover li a {
    color: #fff;
}

.nav-cover li a:hover {
    color: #9acd32;
    text-decoration: none;
}
.page-splash-message {
    text-align: center;
    margin: 7% auto 0 auto;
    font-family: "Covered by your grace", georgia, serif;
    font-weight: normal;
    -webkit-text-shadow: 2px 2px #000000;
    -ms-text-shadow: 2px 2px #000000;
    text-shadow: 2px 2px #000000;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
    text-decoration: none;
    padding: 0;
}


.page-splash-message .cover-text {
    font-size: 3em;
    top: 10px;
    position: relative;
}
.cover-msg {
    width:50%;
    text-align: justify;
}

@media(max-width:768px) {
    .page-splash-message .cover-text {
        font-size: 2.5em;
        overflow-y: scroll;
    }


    .cover-bulb {
    color: #ffffff;
        font-size: 5em;

}
.cover-bulb:hover {
    color:#ffd700;
}
.cover-msg {
    width:80%;
    text-align:justify;
}
}

.shuffle-animation.ng-enter,
.shuffle-animation.ng-leave {
    position: relative;
}

.shuffle-animation.ng-enter {
    -moz-transition: ease-out all 0.3s 0.4s;
    -o-transition: ease-out all 0.3s 0.4s;
    -webkit-transition: ease-out all 0.3s 0.4s;
    -ms-transition: ease-out all 0.3s 0.4s;
    transition: ease-out all 0.3s 0.4s;
    left: 2em;
    -ms-opacity: 0;
    opacity: 0;
}

.shuffle-animation.ng-enter.ng-enter-active {
    left: 0;
    -ms-opacity: 1;
    opacity: 1;
}

.shuffle-animation.ng-leave {
    -moz-transition: 0.3s ease-out all;
    -o-transition: 0.3s ease-out all;
    -webkit-transition: 0.3s ease-out all;
    -ms-transition: 0.3s ease-out all;
    transition: 0.3s ease-out all;
    left: 0;
    -ms-opacity: 1;
    opacity: 1;
}

.shuffle-animation.ng-leave.ng-leave-active {
    -ms-opacity: 0;
    opacity: 0;
}

/*footer {
  position: static;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}*/

/*#endregion*/

/*HOME--------------------------------------------------------------------------------*/
.home-panel {
   font-size: 2em;
    width: 100%;    
    height: 100%;
    text-align: center;
}

.me {
    width: 50%;
    margin: 7% auto;

}
.quote {
    font-size: .50em;
    text-align: justify;
    margin-top: 15%;
  bottom: 0;
    margin-left:20%;
  width: 60%;
}

.home-tag {
    font-size:0.50em;
    color: #4169e1;
    background-color: #f9f2f4;
    border-radius: 4px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    width: 80%;
    margin: 0 auto;
    padding: 0;
}
    .quote p {
        text-align: center;
    }

        @media(max-width:768px) {
            .home-panel {
   font-size: 1.5em;
}

            .home-panel code {
                width: 10px;
                height: 10px;
            }

.me {
    width: 50%;
    margin: 7% auto;

}
.quote {
    font-size: .60em;
}

.quote p {
    text-align: center;
}
        }
/*-------------------------------------ARTICLE-------------------------------------------------------------------------------*/
/*============================================================================================Thoughts=======================================================================*/
.articlesummary {
    text-align: justify;
    background: #fff;
    -ms-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
-webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
    height:500px;
    -webkit-box-shadow: 0 1px 2px 0 #000000;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 1px 2px 0 #000000;
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.75);
    -ms-box-shadow: 0 1px 2px 0 #000000;
    -ms-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.75);
    box-shadow: 0 1px 2px 0 #000000;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.75);
    margin:30px;
}

.articlesummary:hover{
border: 4px solid #DBDBDB;
}

.articlesummary a:hover {
   color: #333;
}

.articlesummary hr{
    border:1px solid #9acd32;
}

.articlesummary h3{
    text-align: left;
    width: 90%;
}

.timestamp {
    font-size: .80em;
}

.readmore{
    bottom:0;
    position:absolute;
    border:1px solid black;
}

.article-summary-header-panel{
    margin-top:10px;
    background-color:#fff;
}

.article-summary-panel{
    width: 90%; 
    margin-left:12%
}

.btn-morearticles{
    width:70%;
    margin-bottom:50px;
    margin-left: 8%;
    font-family: "Finger Paint", georgia, serif;

}
/*===============================================================================ARTICLE-BODY=======================================================================*/
 .article-header {
     text-align: center;
      color: #808080;
 }

 .article-header a {
     text-decoration: none;
 }

.article-body-panel {
    text-align: justify;
     color: #696969;
    font-size: .80em;
}

#backarrow, #forwardarrow {
    cursor: pointer;
}

.article-panel {
    font-size: 2em;
    background-color:#fff;
    -webkit-box-shadow: 0 1px 2px 0 #000000;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 1px 2px 0 #000000;
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.75);
    -ms-box-shadow: 0 1px 2px 0 #000000;
    -ms-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.75);
    box-shadow: 0 1px 2px 0 #000000;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.75);
margin-top:20px;
padding:20px;
}

.comment-box {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}
/*=================================================MEDIA QUERIES=============================================================================================================*/
@media(max-width:1366px) and (min-width: 1000px) {
    .article-summary-panel{
    width: 100%;
    margin-top:100px;
    margin-left:100px;
}
}

@media(max-width:1000px) and (min-width: 768px) {
    .article-summary-panel{
    width: 100%;
    margin-top:100px;
    margin-left:10px;
}
}

@media(max-width:768px) {
    .article-panel {
    font-size: 1.5em;
}
     .article-header {
         font-size: 1em;
         text-transform:uppercase;
     }

    .article-header i {
        display: none;
    }

    .article-summary-header-panel i{
        font-size:2em;
    }

    .article-summary-panel{
    width: 100%;
    margin-top:100px;
    margin-left:-40px;
}
    .articlesummary {
    height:600px;
    margin:40px;
     width: 100%;
     text-align: left;
}
    .btn-morearticles{
    width:90%;
    margin-bottom:50px;
    margin-left:12%;
}
    .articlesummary h3 {
        font-size: 1.1em;
        display: inline;
}
    .articlesummary p {
        font-size: .95em;
}

    .article-panel {
    margin-top:70px;
    }
    
    #backarrow, #forwardarrow {
        font-size: .70em;
}
}
/*-------------------------------------------------------------ABOUT----------------------------------------------*/

.about-panel {
    padding: 20px;
    position: relative;
      color: #696969;
    width: 90%;
    background-color: #fff;
    margin: 20px auto;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 1px 2px 0 #000000;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 1px 2px 0 #000000;
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.75);
    -ms-box-shadow: 0 1px 2px 0 #000000;
    -ms-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.75);
    box-shadow: 0 1px 2px 0 #000000;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.75);
    font-family: Kite One;
}

.about-panel:before {
        top: 20px;
        bottom: 20px;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #9acd32;
        left: 25%;
        margin-left: -1.5px;
    }
/*FAQ*/

.faq-panel{
    text-align:justify;
    margin: 0 0 30px 8%;
}

.faq-panel i{
    display: inline;
}
.faq-header{
font:bold large ariel;
color:#808080;
display:block;
margin:20px 0 5px 0 ;
}

map, div[map] {display:block; width: 100%; height: 300px}

/*SOCIAL*/
.social {
    margin-left: -20px;
    padding: 0;
}

.social li {
    display:inline;
    }

.socialelement {
    font-size: 2em;
    padding-right: 5px;
}
 
 a .ln:hover {
    color: #0977b5;
}
a .g+:hover {
    color:#dd4b39;
}
a .fb:hover {
    color:#3b579d;
}
a .twit:hover {
    color:#03aae8;
}
a .mail1:hover {
    color:#9acd32;
}
a .mail2:hover {
    color:#dd4b39;
}

  @media(max-width:768px) {
      .about-panel {
          margin-top: 50px;
      }
    .about-panel:before {
        display: none;
    }

    .socialelement {
        font-size: 1.2em;
        padding-right: 15px;
    }
    map, div[map] {display:block; width: 100%; height: 200px}
  }
/*----------------------TIMELINE-----------------------------------------*/
.timeline-master-panel {
     padding: 20px;
    position: relative;
      color: #696969;
    width: 90%;
    background-color: #fff;
    margin: 100px auto;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 1px 2px 0 #000000;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 1px 2px 0 #000000;
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.75);
    -ms-box-shadow: 0 1px 2px 0 #000000;
    -ms-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.75);
    box-shadow: 0 1px 2px 0 #000000;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.75);  
}

@media(max-width:768px) {
.timeline-master-panel {
    margin-top: 150px; 
}
}