<section id="thoughts-view" class="article-summary-panel"  data-ng-controller="thoughts as vm">
    
     <h1 class="center-block text-center section-title">{{::vm.pageheader}}</h1>
    
    <hr class="line"/>
    <div class="article-summary-container">
        <i class="fa fa-4x fa-spin fa-spinner loading-icon" data-ng-hide=vm.setspinner1 data-ng-cloak></i>
        <div data-ng-repeat="s in vm.articles" class="row img-responsive">
            <div class="col-md-9 articlesummary center-block text-center">
                <div class="article-summary-header-panel center-block text-center">
                    <h3 setcleanurl="props" data-ng-model="::s.Title" text={{::s.Title}} flag="1" style="display:block" class="center-block text-center"></h3>
                    <em class="timestamp">{{::s.DatePosted}}</em>
                </div>
                <hr class="text-center" />
                <br />
                <p style="margin-top:5px" data-ng-bind-html="::s.Description"></p>
                <p setcleanurl="props" data-ng-model="::s.Title" text="...Read More" flag="0"></p>
            </div>
        </div>
        <button class="btn btn-block btn-default btn-morearticles center-block" data-ng-click="vm.getMoreArticles()" data-ng-show=vm.display_button>
            View More Articles
        </button>
        <i class="fa fa-4x fa-spin fa-spinner loading-icon" data-ng-hide=vm.setspinner2 data-ng-cloak></i>
        <div data-ng-repeat="s in vm.more_articles" class="row img-responsive" data-ng-show={{vm.display_more_articles}}>
            <div class="col-md-9 articlesummary center-block text-center">
                <div class="article-summary-header-panel center-block text-center">
                    <h3 setcleanurl="props" data-ng-model="::s.Title" text={{::s.Title}} flag="1" style="display:block" class="center-block text-center"></h3>
                    <em class="timestamp">{{::s.DatePosted}}</em>
                </div>
                <hr class="text-center" />
                <br />
                <p style="margin-top:5px" data-ng-bind-html="::s.Description"></p>
                <p setcleanurl="props" data-ng-model="::s.Title" text="...Read More" flag="0"></p>
            </div>
        </div>
    </div>
</section>