<script src="/app/layout/autoresize.js"></script>
<nav data-ng-controller="topnav as vm" class="navSidebar">
    <div class="manage-menu" data-ng-click="vm.openmenu = !vm.openmenu">
        <i class="fa fa-list fa-3x"></i> <br />
        <span>MENU</span>
    </div>
    <div class="sidebar" data-ng-show="vm.openmenu">
        <div class="menu-button">
            <i class="glyphicon glyphicon-remove" data-ng-click="vm.openmenu = !vm.openmenu"></i>
        </div>
        <div class="container-fluid element-center center-block">
            <ul class="nav navbar-sidebar navigation-custom-rules">
                <li class="nlightblue fade-selection-animation" data-ng-class="vm.isCurrent(r)"
                    data-ng-repeat="r in vm.navRoutes">
                    <a ng-class='{home:$first}' href="{{r.url}}" data-ng-bind-html="r.config.settings.content" class="text-center"></a>
                </li>
            </ul>
        </div>
    </div>
</nav> 
<script>
    
</script>